/* ----- General ----- */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Pacifico&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
    font-family: "Lato", sans-serif;
    color: #252525;
    background-image: url(img/bg_blur.png);
    background-repeat: repeat-y;
}

.logo {
    font-family: "Pacifico";
    font-size: 1.8rem;
}

.bg-white {
  background-color: rgba(255, 255, 255, 0.85);
} 

.btn-try {
  background-color: #00A300;
  padding: 0.4rem;
  border: none;
  border-radius: 8px;
}

.btn-try:hover {
  background: #00be00;
}

.btn-try a {
  color: white;
}

h2 {
    font-size: 1.5rem;
    font-weight: 900;
}

li {
  display: inline;
  list-style: none;
  padding: 0.5rem;
}

a {
  text-decoration: none;
  color: #252525;
  font-weight: bold;
}

/* ----- Header ----- */
header {
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}

.container-header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}